{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false,
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^(.*)layout(.*)$",
    "^.*components/(.*)$",
    ".*/hooks$",
    ".*/use(.*)$",
    "^(.*)context(.*)$",
    ".*/styles(.*)$",
    ".*.scss$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true
}