.form {
  padding-bottom: 128px;
  max-width: 672px;
  flex: 1;

  label:not([for="name"]) {
    margin-top: 64px;
  }

  &__submit {
    margin-top: 64px;
    padding: 18px 30px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    background: #2E2E2E;
    color: #FFFFFF;
  }

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}