.cases {
  background: #EAEBEF;
  padding: 128px 0;

  &__item {
    width: 326px;
    margin: 0 auto 40px;
  }

  &__card {
    position: relative;
    width: 326px;
    height: 326px;
  }

  &__title {
    margin: 24px 0 0;
    font-weight: 500;
  }

  &__cover {
    opacity: 0;
    transition: .5s ease;
  }

  @media (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
    }
  }

  @media (min-width: 1440px) {
    &__item {
      width: auto;

      &:hover {
        .cases__cover {
          opacity: 1;
        }
      }
    }

    &__card {
      width: 672px;
      height: 672px;
    }
  }
}