.cases {
  background: #EAEBEF;
  padding: 128px 0;

  &__item {
    margin-bottom: 64px;
  }

  &__card {
    width: 326px;
    height: 326px;
  }

  &__title {
    margin-top: 24px;
    font-weight: 500;
  }

  @media (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
      flex: 50%;
    }

    &__card {
      width: 672px;
      height: 672px;
    }
  }
}