.gallery {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0px;
  }

  &__item {
    flex: 0 0 50%;
  }

  img {
    width: 186px;
    height: auto;
  }

  img {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    &__item {
      flex: unset;
    }
  }

  @media (min-width: 1370px) {
    img {
      width: revert;
      height: revert;
    }
  }
}