$hamburger-width: 30px;
$hamburger-height: 18px;

.hamburger-button {
  display: flex;
  align-items: center;
  padding: 8px 0;
  background-color: transparent;
  color: black;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-appearance: none;
  border: none;
  outline: 0;
  cursor: pointer;

  &__icon {
    width: $hamburger-width;
    height: $hamburger-height;
    position: relative;
  }

  &__line {
    top: 50%;
    transform: translate3d(0, -50%, 0);
    transition: smooth(transform);

    &,
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: $hamburger-width;
      height: calc(#{$hamburger-height} / 9);
      background-color: black;
      border-radius: 30px;
    }

    &::before {
      top: calc(-#{$hamburger-height} / 2.2);
      transition: top .1s .25s ease-in, opacity .1s ease-in;
    }

    &::after {
      bottom: calc(-#{$hamburger-height} / 2.2);
      transition: bottom .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .2);
    }
  }

  &--active {
    .hamburger-button__line {
      transform: rotate(45deg);

      &::before {
        top: 0;
        opacity: 0;
        transition: opacity .3s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(90deg);
        transition: bottom .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1);
      }
    }
  }
}