.services {
  padding: 128px 0;

  &__heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  &__item {
    margin: 64px 0;
  }

  &__title {
    margin: 32px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.02em;
  }

  &__description {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
  }

  @media (min-width: 768px) {
    padding: 220px 0;

    &__heading {
      font-size: 48px;
      line-height: 72px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      gap: 70px;
    }

    &__item {
      margin: 128px 0 0;
    }

    &__title {
      margin: 0 0 32px;
      font-size: 28px;
      line-height: 42px;
    }

    &__description {
      font-size: 28px;
      line-height: 42px;
    }
  }
}